In [ ]:
# import mysql.connector
# from mysql.connector import Error

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="Viren",
  password="Viren@1504"
)

mycursor = mydb.cursor()

In [4]:
mycursor.execute("CREATE DATABASE EMP")

DatabaseError: 1007 (HY000): Can't create database 'emp'; database exists

In [5]:
# mycursor.execute("SHOW DATABASES")

# for x in mycursor:
#   print(x)
  
#use create table with column names as name , password, address , age , gender
mycursor.execute("CREATE TABLE Employee(name CHAR(255), password CHAR(255), address CHAR(255), age CHAR(255), gender CHAR(255))")

ProgrammingError: 1046 (3D000): No database selected

In [16]:
mycursor.execute("USE emp")
mycursor.execute("INSERT INTO employee(name,password,address , age, gender)VALUES('Viren','tp','home',19,'male')")

In [6]:
mycursor.execute("USE emp")

In [17]:
mycursor.execute("SELECT * FROM employee")

for x in mycursor:
  print(x)

('Viren', 'tp', 'home', 19, 'male')

In [18]:
mycursor.execute("DELETE FROM employee WHERE name='Viren'")

In [19]:
mycursor.execute("SELECT * FROM employee")

for x in mycursor:
  print(x)

In [20]:
mycursor.execute("DROP TABLE employee")

In [7]:
from tkinter import*
def save():
    #submit button and store in a file
    sql= "INSERT INTO employee VALUES(%s,%s,%s,%s,%s)"
    val  = (name.get(),password1.get(),address1.get(),age1.get(),gender.get())
    mycursor.execute(sql, val)

top = Tk()
top.geometry("400x350")
gender = StringVar()
name = StringVar()
age1 = StringVar()
password1 = StringVar()
address1 = StringVar()
username = Label(top, text="Username").place(x=10,y=10)
password = Label(top, text="Password").place(x=10,y=40)
username_entry = Entry(top, textvariable=name).place(x=100,y=10)
password_entry = Entry(top, textvariable=password1).place(x=100,y=40)
#create text box
address = Label(top, text="Address").place(x=10,y=70)
#input from text field
address_Text = Entry(top, textvariable=address1).place(x=100,y=70)



#create a Raido Button
Gender_label = Label(top, text="Choose your gender").place(x=10,y=120)
#radio Button

gender_radiobutton1= Radiobutton(top, text="Male", variable=gender, value="male" ).place(x=10,y=140)

gender_radiobutton2= Radiobutton(top, text="Female", variable=gender, value="Female").place(x=10,y=160)
gender_radiobutton3= Radiobutton(top, text="Other", variable=gender, value="Other").place(x=10,y=180)

#age using spinbox
age = Label(top, text="Age").place(x=10, y= 220)
w = Spinbox(top,from_=0 , to= 100, textvariable=age1).place(x=100, y=220)
#call save function with submit
submit = Button(top, text="Submit", command=save).place(x=10,y=250)


#read from the file and output it to the screen
def read():
    mycursor.execute("SELECT * FROM employee")
    print("reading...")
    print(mycursor.fetchall())
    for x in mycursor:
        print(x)

Label(top, text="Read from file").place(x=10,y=300)
read_button = Button(top, text="Read", command=read).place(x=100,y=300)



top.mainloop()

reading...
[('Viren', '1234', 'home', '20', 'male')]

In [ ]:
mycursor.execute("DELETE FROM employee WHERE name='viren'")

In [12]:
a = "8, 5" 
nums = a.split(',') 
x, y = nums 
int_prod = int(x) * int(y) 
print(int_prod)

40